{% extends 'base.html.twig' %}

{% block title %} 404 not found {% endblock %}

{% block body%}
    <div class="row">
        <div class=" text-center text-danger" >
            <h1 class="display-1">404</h1>
            <p>Page not Found</p>
        </div>
    </div>
{% endblock %}
