{% import '_form_macro.html.twig' as form %}
<form method="post" action="{{ action }}">

    {{ form.input('email','text',errors.email,user) }}
    {{ form.input('password','text',errors.password,user) }}

    <button type="submit" class="btn btn-primary">{{ submit }}</button>
</form>
